.git
.github
.idea
.vscode
compose
coverage
**/node_modules/

**/types
!**/src/types
**/dist

.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.prettierignore
.prettierrc.json

gitUpdate.sh
dc.sh

LICENSE
**/README.md
