.alert-component-ext {
	padding-top: 1vmin;
	padding-bottom: 1vmin;
}

.alert-component-base {
	border-radius: 25px;
	border: 2px;
	border-width: 2px;
	border-style: solid;
}

.alert-component-icon {
	margin-right: 1vmin;
	margin-top: 1vmin;
}

.alert-component-children {
	margin-left: 3vmin;
	margin-right: 3vmin;
}

.alert-component-middle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.alert-component-aligned {
	display: flex;
	align-items: center;
	text-align: center;
}

.alert-component-info {
	border-color: #1b359e;
}

.alert-component-error {
	border-color: #91130d;
}

.alert-component-success {
	border-color: #1b9e4c;
}

.alert-component-warning {
	border-color: #f3a230;
}
