.wrapper {
	padding-top: 1vmin;
	padding-bottom: 1vmin;
	border-radius: 25px;
	border: 2px;
	border-width: 2px;
	border-style: solid;
	box-shadow:
		0 1px 3px 0 rgb(0 0 0 / 0.1),
		0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.dark .wrapper {
	background-color: hsl(204 3% 18%);
	box-shadow:
		0 1px 3px 0 rgb(0 0 0 / 0.25),
		0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.ext {
	padding-top: 1vmin;
	padding-bottom: 1vmin;
}

.button {
	height: 3.5rem;
	background-color: transparent;
	width: 100%;
	cursor: pointer;
	border-radius: 2rem;
	border: none;
}

.button:hover {
	text-decoration-line: underline;
}

.button:focus-visible,
.button[data-focus-visible] {
	outline: 2px solid hsl(204 100% 40%);
}

.button-text {
	font-size: 1.125rem;
	font-weight: 500;
	text-underline-offset: 2px;
	color: #f6f6f6;
	align-items: left;
	justify-content: left;
	text-align: left;
	padding-left: 1vmin;
}

.icon {
	display: flex;
	align-items: right;
	justify-content: right;
	padding-right: 1vmin;
}

.button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.content {
	display: flex;
	flex-direction: column;
	margin-left: 3vmin;
	margin-right: 3vmin;
}
