blog.ecorte.xyz {
  reverse_proxy * localhost:2368
}

sleepymaid.ecorte.xyz {
  reverse_proxy * localhost:3000
}

qcgsecret.ecorte.xyz {
  reverse_proxy * localhost:3001
}

f.ecorte.xyz:443 {
  reverse_proxy * localhost:11000 {
      transport http {
            tls_insecure_skip_verify
      }
  }
}
