blog.ecorte.xyz {
  reverse_proxy * http://ghost:2368
}

sleepymaid.ecorte.xyz {
  reverse_proxy * http://website:3000
}

qcgsecret.ecorte.xyz {
  reverse_proxy * http://qcgsecret:3001
}

https://f.ecorte.xyz:443 {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy * https://nextcloud:11000 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
