services:
  ghost:
    environment:
      NODE_ENV: "production"
  sleepymaid:
    environment:
      NODE_ENV: "prod"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${PRODUCTION_SLEEPYMAID_CLIENT_ID}
      DISCORD_TOKEN: ${PRODUCTION_SLEEPYMAID_TOKEN}
      DISCORD_WEBHOOK_URL: ${PRODUCTION_SLEEPYMAID_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}
  helper:
    environment:
      NODE_ENV: "prod"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${PRODUCTION_HELPER_CLIENT_ID}
      DISCORD_TOKEN: ${PRODUCTION_HELPER_TOKEN}
      DISCORD_WEBHOOK_URL: ${PRODUCTION_HELPER_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}
  watcher:
    environment:
      NODE_ENV: "prod"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${PRODUCTION_WATCHER_CLIENT_ID}
      DISCORD_TOKEN: ${PRODUCTION_WATCHER_TOKEN}
      DISCORD_WEBHOOK_URL: ${PRODUCTION_WATCHER_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}
  #website:
  #  environment:
  #    NODE_ENV: "production"
  #    DISCORD_CLIENT_ID: ${PRODUCTION_NEXTAUTH_CLIENT_ID}
  #    DISCORD_CLIENT_SECRET: ${PRODUCTION_NEXTAUTH_CLIENT_SECRET}
  #    NEXTAUTH_SECRET: ${PRODUCTION_NEXTAUTH_SECRET}
  #    NEXTAUTH_URL: ${PRODUCTION_NEXTAUTH_URL}
  #    DATABASE_URL: ${DATABASE_URL}
  #    RABBITMQ_URL: ${RABBITMQ_URL}
  api:
    environment:
      NODE_ENV: "production"
      API_SECRET: ${API_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}
    ports:
      - "${API_PORT}:3000"

  postgres:
    ports:
      - "127.0.0.1:5432:5432"
