services:
  sleepymaid:
    environment:
      NODE_ENV: "dev"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${DEVELOPMENT_SLEEPYMAID_CLIENT_ID}
      DISCORD_TOKEN: ${DEVELOPMENT_SLEEPYMAID_TOKEN}
      DISCORD_WEBHOOK_URL: ${DEVELOPMENT_SLEEPYMAID_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}

  helper:
    environment:
      NODE_ENV: "dev"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${DEVELOPMENT_HELPER_CLIENT_ID}
      DISCORD_TOKEN: ${DEVELOPMENT_HELPER_TOKEN}
      DISCORD_WEBHOOK_URL: ${DEVELOPMENT_HELPER_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}

  watcher:
    environment:
      NODE_ENV: "dev"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${DEVELOPMENT_WATCHER_CLIENT_ID}
      DISCORD_TOKEN: ${DEVELOPMENT_WATCHER_TOKEN}
      DISCORD_WEBHOOK_URL: ${DEVELOPMENT_WATCHER_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}

  # clarity:
  #   environment:
  #     NODE_ENV: "dev"
  #     API_SECRET: ${API_SECRET}
  #     DISCORD_CLIENT_ID: ${DEVELOPMENT_CLARITY_CLIENT_ID}
  #     DISCORD_TOKEN: ${DEVELOPMENT_CLARITY_TOKEN}
  #     DISCORD_WEBHOOK_URL: ${DEVELOPMENT_CLARITY_WEBHOOK_URL}
  #     DEV_IDS: ${DEV_IDS}
  #     DATABASE_URL: ${DATABASE_URL}
  #     RABBITMQ_URL: ${RABBITMQ_URL}
  #     REDIS_URL: ${REDIS_URL}

  #website:
  #  environment:
  #    NODE_ENV: 'development'

  api:
    environment:
      NODE_ENV: "dev"
      API_SECRET: ${API_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}
      DISCORD_CLIENT_ID: ${DEVELOPMENT_API_CLIENT_ID}
      DISCORD_CLIENT_SECRET: ${DEVELOPMENT_API_CLIENT_SECRET}
      DISCORD_REDIRECT_URI: ${DEVELOPMENT_API_REDIRECT_URI}

    ports:
      - "${API_PORT}:3000"

  postgres:
    ports:
      - "127.0.0.1:5433:5432"

  valkey:
    ports:
      - "127.0.0.1:6379:6379"
