services:
  ghost:
    environment:
      NODE_ENV: "development"
  sleepymaid:
    environment:
      NODE_ENV: "dev"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${DEVELOPMENT_SLEEPYMAID_CLIENT_ID}
      DISCORD_TOKEN: ${DEVELOPMENT_SLEEPYMAID_TOKEN}
      DISCORD_WEBHOOK_URL: ${DEVELOPMENT_SLEEPYMAID_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}

  helper:
    environment:
      NODE_ENV: "dev"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${DEVELOPMENT_HELPER_CLIENT_ID}
      DISCORD_TOKEN: ${DEVELOPMENT_HELPER_TOKEN}
      DISCORD_WEBHOOK_URL: ${DEVELOPMENT_HELPER_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
  watcher:
    environment:
      NODE_ENV: "dev"
      API_SECRET: ${API_SECRET}
      DISCORD_CLIENT_ID: ${DEVELOPMENT_WATCHER_CLIENT_ID}
      DISCORD_TOKEN: ${DEVELOPMENT_WATCHER_TOKEN}
      DISCORD_WEBHOOK_URL: ${DEVELOPMENT_WATCHER_WEBHOOK_URL}
      DEV_IDS: ${DEV_IDS}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}

  #website:
  #  environment:
  #    NODE_ENV: 'development'
  api:
    environment:
      NODE_ENV: "dev"
      API_SECRET: ${API_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      REDIS_URL: ${REDIS_URL}
    ports:
      - "${API_PORT}:3000"

  postgres:
    ports:
      - "127.0.0.1:5433:5432"
