---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Are you lost?">
	<div class="content-center container max-w-60ch m-auto p-1.5rem text-center">
		<h1 class="text-5xl">404</h1>
		<p>Are you lost?</p>
		<Card href="/" title="Go back home" body="Home page" />
	</div>
</Layout>
