<style is:global>
	.toc-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
	}

	#toc-list-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	#toc-list-container ul {
		padding: 0;
	}

	#toc-list-container li {
		text-align: left;
		list-style: none;
		position: relative;
		display: flex;
		align-items: center;
	}

	#toc-list-container li::before {
		content: '•';
		margin-right: 10px;
		color: white;
	}

	#toc-list-container a {
		margin: 0;
		padding: 0;
		text-decoration: none;
		color: white;
	}

	h3 {
		text-align: center;
		color: white;
		margin-bottom: 10px;
	}
</style>

<div class="toc-container">
	<h3>Table of contents:</h3>
	<div id="toc-list-container">
		<ul>
			<slot />
		</ul>
	</div>
</div>
