---
import Base from './Base.astro';
---

<Base>
	<li><a href="#blockers">Blockers</a></li>
	<li><a href="#roulette">Roulette</a></li>
	<li><a href="#hammer">Hammer</a></li>
	<li><a href="#lasers">Control room lasers</a></li>
	<li><a href="#simon">Simon says</a></li>
	<li><a href="#firetrial">Fire trial</a></li>
	<li><a href="#hackinggame">Hacking game</a></li>
	<li><a href="#bankrupt">Bankrupt</a></li>
</Base>
