name: Quality Check
on: [push, pull_request]
jobs:
  build:
    name: Quality Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: SKIP_ENV_VALIDATION=true pnpm build --filter=!@sleepymaid/website

      - name: Check Build
        run: pnpm check --filter=!@sleepymaid/website

      - name: Test
        run: pnpm test

      - name: ESLint
        run: pnpm lint

      - name: Prettier
        run: pnpm format
