name: Quality Check
on: [push, pull_request]
jobs:
  build:
    name: Quality Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: SKIP_ENV_VALIDATION=true pnpm build --filter=!@sleepymaid/website

      - name: Check Build
        run: pnpm check --filter=!@sleepymaid/website

      - name: Test
        run: pnpm test

      - name: ESLint
        run: pnpm lint

      - name: Prettier
        run: pnpm format
