name: Quality Check
on: [push, pull_request]
jobs:
  build:
    name: Quality Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: SKIP_ENV_VALIDATION=true bun run build --filter='!@sleepymaid/website'

      - name: Check Build
        run: bun run check --filter='!@sleepymaid/website'

      - name: Test
        run: bun run test

      - name: Lint
        run: bun run lint

      - name: Format
        run: bun run format
