name: Quality Check
on: [push, pull_request]
jobs:
  build:
    name: Quality Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: SKIP_ENV_VALIDATION=true bun run build --filter='!@sleepymaid/website'

      - name: Check Build
        run: bun run check --filter='!@sleepymaid/website'

      - name: Test
        run: bun run test

      - name: Lint
        run: bun run lint

      - name: Format
        run: bun run format
