name: Quality Check
on: [push, pull_request]
jobs:
  build:
    name: Quality Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Ensure prisma schema is up to date
        run: pnpm prisma generate

      - name: Build
        run: pnpm build

      - name: Check Build
        run: pnpm check

      - name: Test
        run: pnpm test

      - name: ESLint
        run: pnpm lint

      - name: Prettier
        run: pnpm format
